
mixin OppkeyVideo
  +Section({
    image: `${CWD}assets/img/headers/header-27.jpg`,
    attrs: {'data-parallax':'', 'data-rellax-percentage': '0.5', 'data-rellax-speed':'-3'}
  }, 'container-fluid').text-center.py-8.py-md-11.overflow-hidden#defaultVideo

    a.text-white(href='#!' data-bigpicture!={ytSrc: 'kAphgHhlteM'} )
      svg.mx-auto.d-block(width=100 height=100 xmlns='http://www.w3.org/2000/svg', viewbox='0 0 274.19 274.19' data-zanim-svg!={
        duration: 2,
        ease: "CubicBezier"
      } data-zanim-svg-trigger= 'scroll')
        defs
          style.
            .play-path {
              fill: none;
              stroke: #ffffff;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 12px;
            }
        g
          path.play-path(d='M208.31,29.4A129.12,129.12,0,1,1,137.1,8m-1.48,170.53L199.94,137,104.07,79.46v113')
      span.h4.mt-3.text-white(data-zanim-xs!={
        from: {"letter-spacing": "0.2em", opacity: 0},
        to: {"letter-spacing": 0, opacity: 1},
        delay: 0.8
      } data-zanim-trigger='scroll') watch the reel
