
mixin OppkeyWhyUs
  +Section.py-6.py-md-8#defaultWhyUs
    .row.flex-center
      .col-12.mb-2.mb-lg-5.text-center
        h2.fs-3.fs-sm-4
          span.text-decoration-underline(data-zanim-xs!={delay: 0.3} data-zanim-trigger='scroll') why sparrow?
          
    .row.flex-center
      .col-sm-8.col-lg-4.text-lg-end.mt-5.mt-lg-0.pe-lg-3.pe-xl-4
        .overflow-hidden
          p.fst-italic.lead(data-zanim-xs!={delay: 0.2} data-zanim-trigger='scroll') A robust set of layouts, built-in elements, colors, typography, and css helpers &mdash; rigorously tested and optimized, gives you the perfect starting point for landing pages
            br.d-none.d-xl-block
            | and stylish business websites.
      .col-sm-8.col-lg-4.mt-4.mt-lg-0.px-lg-4
        img(src=`${CWD}assets/img/creative.jpg` alt='' data-zanim-xs!={
          animation: "zoom-out",
          delay: 0.1
        } data-zanim-trigger='scroll').w-100.rounded
      .col-sm-8.col-lg-4.mt-5.mt-lg-0.ps-lg-3.ps-xl-4
        .overflow-hidden
          h4.mb-3(data-zanim-xs!={delay: 0.2} data-zanim-trigger='scroll') bootstrap 5 + much more
        .overflow-hidden
          p(data-zanim-xs!={delay: 0.3} data-zanim-trigger='scroll') Full coverage of Bootstrap's core components plus a suite of additional time-saving elements makes sparrow highly customizable in a powerful but simple way.
